

body{
  background-color: seashell;
}

.parent{
background: rgb(74, 248, 239);
  height: 50px;
  width: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  font-family: "Josefin Sans", sans-serif;
  

}



#posi{
  margin-top: 3px;
  color: rgb(69, 69, 197);
}